<h1>create a post</h1>

<form method="POST" action='/post/new'>
<label for='title'>title: </label>
<input type ="text" name ="title" id="title">
<label for="content">content: </label> 
<textarea name="content" id="content" cols="30" rows="10"></textarea>
<label for='photo_url'>photo_url: </label>
<input type ="text" name ="photo_url" id="photo_url">
<input type= 'submit'>


</form> 
